extends ./layout/index
block contenido
    main.container.mt-5 
        .row 

            .col-md-5 
                img.img-fluid(src="img/nosotros.jpg" alt="imagen nosotros")
            .col-md-7
                h1 #{actualPage}
                blockquote  vitae feugiat risus. Quisque molestie tortor eu dui convallis venenatis. Aliquam erat volutpat. Sed nulla erat, cursus at purus id, rutrum tempus quam. Integer vitae imperdiet magna. Morbi id sapien pharetra, tempus velit quis, molestie augue. 

                p auctor lobortis nisl, a eleifend felis feugiat eget. Duis accumsan lorem euismod molestie vehicula. Etiam lobortis congue fermentum. Mauris vehicula volutpat risus a interdum. Mauris aliquam tincidunt libero. Suspendisse sagittis nunc purus, id fermentum nulla consectetur eget. Nam enim diam, pulvinar quis libero at, lobortis molestie sapien. 

                p ornare feugiat mi sit amet hendrerit. Ut bibendum massa vitae aliquam faucibus. Quisque condimentum ullamcorper erat, et rutrum massa aliquam id. Aliquam euismod lorem nec urna semper convallis. Proin consectetur neque ut lacinia dignissim. Phasellus blandit ultrices quam non porta. Morbi eget placerat neque. Quisque sit amet consequat arcu. Fusce semper venenatis porta. Quisque auctor fringilla diam sed dapibus.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="icono seguridad")
                    h2 Seguridad
                    p Quisque condimentum ullamcorper erat, et rutrum massa aliquam id. Aliquam euismod lorem nec urna semper convallis. Proin consectetur neque ut lacinia dignissim. Phasellus blandit ultrices quam non porta.
                .col-md-4 
                    img.img-fluid.mb-4(src="img/icono_destinos.svg", alt="icono destinos")
                    h2 Mejores Destinos
                    p Quisque condimentum ullamcorper erat, et rutrum massa aliquam id. Aliquam euismod lorem nec urna semper convallis. Proin consectetur neque ut lacinia dignissim. Phasellus blandit ultrices quam non porta.
                .col-md-4 
                    img.img-fluid.mb-4(src="img/icono_precios.svg", alt="icono precio")
                    h2 Precio
                    p Quisque condimentum ullamcorper erat, et rutrum massa aliquam id. Aliquam euismod lorem nec urna semper convallis. Proin consectetur neque ut lacinia dignissim. Phasellus blandit ultrices quam non porta.
                    

